@import "_theme.less";
@import "_typography.less";
@import "_links.less";
@import "_tables.less";
@import "_forms.less";
@import "_post.less";

/* General layout stuff & useful functions*/
.bordered {
	border: 2px solid @border-color;
	.rounded-corners; 
}

.rounded-corners(@radius: 6px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.titlebox {
	margin-bottom: @base-pad*5;
}
.titlebox>:first-child {
   background-color: @heading-color;
   margin-bottom: @base-pad*2;
}

.inset {
	display: block;
  margin-left: @base-pad*2;
  margin-right: @base-pad*2;
}

.unfocused {
	opacity: 1.0;
}

/* specific element styles */
body {
	background-color: @alternate-background-color;
	margin: 0px; padding: 0px;
}

body .content {
	background-color: @background-color;
	margin: 30px;	padding: 20px;
	border: 2px solid @border-color; .rounded-corners;
}
