@(boardName: String, threads: Seq[models.ThreadHeader])

@main(s"Cistern: $boardName") {
    <div>
      <h1>@boardName</h1>
    </div>
    <div class="board">
      <table class="table table-striped table-bordered">
        <thead>
          <tr><th>Thread</th><th>Author</th></tr>
        </thead>
        <tbody>
          @for(thread <- threads) {
            <tr>
              <td><a href="@routes.Thread.view(thread.id, 1)">@thread.subject</a></td>
              <td width="216">@thread.author on @thread.date</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
}
