@(board: BoardHeader, threads: Seq[ThreadDetail])

@main(board.title) {
<div class="titlebox">
  @partial.titlebar(board.title)

  <div class="inset bordered">
  <table class="alternating-rows">
    <thead>
    <tr>
      <th><h4>Thread</h4></th>
      <th><h4>Posts</h4></th>
      <th><h4>Last</h4></th>
    </tr>
    </thead>
    <tbody>
    @for(thread <- threads) {
      <tr>
        <td width="100%">
          <p>
            <a href="@routes.Thread.view(thread.thread.id)">@thread.thread.subject</a><br/>
            <small>@thread.firstPoster.username, @thread.firstPosted</small>
          </p>
        </td>
        <td nowrap>
          <p>@thread.postcount</p>
        </td>
        <td nowrap>
          <p>
            @partial.user(thread.lastPoster)<br/>
            <small>@thread.lastPosted</small>
          </p>
        </td>
      </tr>
    }
    </tbody>
  </table>
  </div>
</div>

<div class="unfocused titlebox"> 
  @partial.titlebar("Add thread")
  @partial.addthread(board.id, NewThread.form)
</div>
}
