@(post: views.PostDetail)

<div class="post">

  <div class="header">
    <h4 class="username">
      @user(views.UserHeader(post.userid, post.author))
    </h4>
    <h5 class="permalink">
      <a href="@routes.Post.view(post.postid)">permalink</a>
    </h5>
  </div>

  <div class="body">
    <table>
      <tr>
        <td class="avatar">
          <img src="@post.avatar"/>
        </td>
        <td class="content">
          @post.content
        </td>
      </tr>
    </table>
  </div>

</div>