@(post: views.PostDetail)

<div class="post">

  <div class="header">
    <h4 class="username">
      @user(views.UserHeader(post.userid, post.author))
    </h4>
    <h4 class="permalink">
      <small><a href="@routes.Post.view(post.postid)">permalink</a></small>
    </h4>
  </div>

  <div class="body">
    <table>
      <tr>
        <td class="avatar">
          <img src="@post.avatar"/>
        </td>
        <td class="postcontent">
          @post.content
        </td>
      </tr>
    </table>
  </div>

</div>